<p>
  <a href="{% url 'football_management_app:index' %}">Football Management</a> -
  <a href="{% url 'football_management_app:teams_list' %}">Teams</a> -
  <a href="{% url 'football_management_app:generate_matches' %}">Generate Matches</a> -
  <a href="{% url 'football_management_app:match_schedule' %}">Match Schedule</a> -
  <a href="{% url 'football_management_app:match_list' %}">Match List</a> 
  {% comment %} <a href="{% url 'football_management_app:team_update' %}">Update Team</a> {% endcomment %}
</p>

{% block content %}{% endblock content %}